{:lib com.github.ivarref/finddep

 :version "0.1.{{git/commit-count}}"

 :github-actions? true

 :scm {:connection "scm:git:git://github.com/ivarref/finddep.git"
       :developerConnection "scm:git:ssh://git@github.com/ivarref/finddep.git"
       :url "https://github.com/ivarref/finddep"}

 :documents [{:file "README.md"
              :match-exactly "clojure -Ttools install com.github.ivarref/finddep '{:git/tag"
              :action :replace
              :keep-indent? true
              :text "clojure -Ttools install com.github.ivarref/finddep '{:git/tag \"{{version}}\" :git/sha \"{{git/head-short-sha}}\"}' :as finddep"}]}
