{:deps        {org.clojure/clojure       {:mvn/version "1.11.2"}
               org.clojure/tools.deps    {:mvn/version "0.19.1417"}
               org.slf4j/slf4j-nop       {:mvn/version "2.0.7"}
               clansi/clansi             {:mvn/version "1.0.0"}
               io.github.ivarref/fzf.clj {:git/sha "0632509846a18cb4780a0cec29a91cc455f9fa10"}}
 :paths       ["src"]
 :tools/usage {:ns-default com.github.ivarref.finddep}
 :aliases     {#_:build #_{:deps       {com.github.liquidz/build.edn {:mvn/version "0.10.227"}}
                           :ns-default build-edn.main}

               :run   {:exec-fn com.github.ivarref.finddep/entrypoint}

               :test                                        ;; added by neil
               {:extra-paths ["test"]
                :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                              org.clj-commons/pretty               {:mvn/version "2.1.1"}}
                :main-opts   ["-m" "cognitect.test-runner"]
                :exec-fn     cognitect.test-runner.api/test}}}
